<%- model_class = Blog -%>

<div class='row-fluid'>
  <div class="span3 replacespan">
    <div class='row-fluid'>
      <div class='span12 mostviewedhead'>
        <h5>Most Viewed</h5>
      </div>
    </div>

    <div id='left_side_blogs' class='mostviewed'>
      <%= render 'left_blogs', :blogs => @left_blogs %>
    </div>
  </div><!--/span-->

  <div class="span4 replacespan">
    <div class='row-fluid'>
      <div class='span12 mostrecenthead'>
        <h5>New</h5>
      </div>
    </div>

    <div id='center_blogs' class='mostrecent'>
      <%= render 'center_blogs', :blogs => @center_blogs %>
    </div>
  </div><!--/span-->

  <div class="span5 replacespan">
    <div class='row-fluid'>
      <div class='span12 mostpopularhead'>
        <h5>Most Popular</h5>
      </div>
    </div>

    <div id='right_side_blogs' class='mostpopular'>
      <%= render 'right_blogs', :blogs => @right_blogs %>
    </div>
  </div>
</div>