/*
  * This is a manifest file that'll be compiled into application.css, which will include all the files
  * listed below.
  *
  * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
  * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
  *
  * You're free to add application-wide styles to this file and they'll appear at the top of the
  * compiled file, but it's generally better to create a new file per style scope.
  *
  *= require jquery.ui.all
  *= require_tree .
  *= require_self
*/

.control-label {
  font-weight: bold;
}

.hgroup {
  background: url("/assets/hr_down_arrow.png") repeat-x scroll left bottom transparent; height: 72px;
}

#main_body{
  background-color: #F0EEE9;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.container-fluid .container {
  width: 100%;
}

@media (min-width: 369px) {
  .container-fluid .container {
    margin-top: 90px;
  }
}

@media (max-width: 369px) {
  .container-fluid .container {
    margin-top: 110px;
  }
}

.replacespan {
  margin: 0px !important;
  padding: 0px !important;
}

.mostviewed {
  margin: 0px !important;
  padding-top: 30px !important;
  background: none repeat scroll 0 0 #FDFCFC;
  box-shadow: 0 6px 16px -9px rgba(0, 0, 0, 0.5) inset;
}

.mostrecent {
  margin: 0px !important;
  padding-top: 30px !important;
  background: none repeat scroll 0 0 #FDFCFC;
  box-shadow: 0 6px 16px -9px rgba(0, 0, 0, 0.5) inset;
}

.mostpopular {
  margin: 0px !important;
  padding-top: 30px !important;
  background: none repeat scroll 0 0 #F3F3F3;
  box-shadow: 0 6px 16px -9px rgba(0, 0, 0, 0.5) inset;
}

.mostviewedhead {
  background-color: #FDFCFC;
}

.mostviewedhead h5 {
  padding: 0 30px;
}

.mostrecenthead {
  background-color: #7FC04C;
}

.mostrecenthead h5 {
  padding: 0 30px;
}

.mostpopularhead {
  background-color: #FDFCFC;
}

.mostpopularhead h5 {
  padding: 0 30px;
}